<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
    <p>Order Total: <%= humanized_money_with_symbol @order.total_cents/100 %></p>
    <p>Confirmation Sent to <%= @order.email %></p>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
      <% @line_item.each do |i| %>
      <h3> <%= i.product.name %> </h3>
      <%= image_tag i.product.image.tiny %>
      <p> <%= i.product.description %> </p>
      <p>Quantity: <%= i.quantity %> </p>
      <p>Total: <%= humanized_money_with_symbol i.total_price_cents/100 %> </p>
      <hr>
    <% end %>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
